<!doctype html>

<html lang="fr">

  <head>
    <title>Inscription</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load crispy_forms_tags %}
    {% load bootstrap4 %}
    {% load static %}
  </head>

  <body style="background-image: url({% static 'images/cover2.jpg' %}); background-repeat: no-repeat; background-size: cover">
    <div class="form-container container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="form__section-title text-warning">Inscription</h1>
        </div>
        <div class="col-md-12">
          {% bootstrap_messages %}

            {% if submitted %}
              <p class="success">
                 <p><a href="{% url 'accueil' %}">Inscription réussie, retour à l'acceuil</a></p>
              </p>

            {% else %}
              <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                  <div class="col-12 text-center">
                    {% buttons %}
                    <button type="submit" class="form-button btn btn-success">Submit</button>
                    {% endbuttons %}
                    <p>** Un expert est un personne capable d'evaluer un projet, merci de ne cocher cette case que si c'est le cas</p>
                    <p><a href="{% url 'confirmation' %}">Validation 2</a></p>
                  </div>
                </div>
              </form>
            {% endif %}
           </div>
        </div>
    </div>
  </body>
</html>


<!--
<form action="{% url 'inscription' %}" method="POST">
	{% csrf_token %}
	    
	<div>
		<label>Pseudo</label>
		<input id="pseudo" name="pseudo">
	</div>
	<div>
		<label>Password</label>
		<input id="password" name="password">
	</div>
	<div>
		<label>ConfirmationPassword</label>
		<input id="confirmationPassword" name="confirmationPassword">
	</div>
	<div>
		<label>Email</label>
		<input id="email" name="email">
	</div>
	<div>
		<label>Profil</label>
		<input id="profil" name="profil">
	</div>
	
	  <button type="submit" class="btn btn-success">Validation</button>
</form>
-->
