<h1>{{ user.username }} <span class="small">  </span> {{ user.password }}</h1>

<p class="infos">Avec l'email {{ user.email }}, inscrit le {{ user.dateInscription|date:"DATE_FORMAT" }}</p>

<div class="contenu">{{ user.profil|linebreaks }}</div>

{% if user.isExpert %}
<p>karma : {{ user.karma }}</p>
{% endif %}
<h1>Projets crées pas cet utilisateur</h1>
{% for values in projects %}
<p><a class="text-warning" href="{% url 'projectId' id=values.id %}">{{ values.nom }}</a>{{ values.description }}</p>
{% empty %}
pas de projets
{% endfor %}


<p><a href="{% url 'accueil' %}">Retour en arrière</a></p>
