<!doctype html>
<html lang="fr">

<head>
    <title>Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load crispy_forms_tags %}
    {% load bootstrap4 %}
    {% load static %}
    {% load mathfilters %}
</head>

<!-- header row -->
<header>
    <div class="row bg-light ml-3 mr-3 header">
        <div class="col col-md-auto">
            <img src="{% static 'images/logo.png' %}" height="100" class="d-inline-block align-middle mr-2">
            <span class="text-uppercase font-weight-bold">MaKe Our Planet Great Again</span>
        </div>
        <div class="col"></div>
        <div class="col col-md-auto">
            {% if request.user.is_authenticated %}
            <p>Welcome {{ request.user.username }}</p>
            <div >
                <p class="fa fa-plus-square-o"><a href="{% url 'nouveauProject' %}"> Create a new project</a></p></br>
                <p class="fa fa-sign-out"><a href="{% url 'deconnexion' %}"> Sign out</a></p>
            </div>
            {% else %}
            <p class="text-right"><a href="{% url 'accueil' %}">Sign in !</a></p>
            <p class="text-right">No account yet ? <a href="{% url 'inscription' %}">Join Us !</a></p>
            {% endif %}
        </div>
    </div>
</header>
<!-- //header row -->

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col mt-5">
                {% if project.project_Main_Image|length == 0  %}
                    <img style="float:left;min-height:300px;max-height:300px;min-width:100%;max-width:100%" src="{% static 'images/cover.jpg' %}" height="300px">
                {% else %}
                    <img style="float:left;min-height:300px;max-height:300px;min-width:100%;max-width:100%" src="{{ project.project_Main_Image.url }}"/>
                {% endif %}
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col">
                <h1 class="text-center">{{ project.nom }}</h1>
                {% if project.idCreateur.id == request.user.id %}
                    <p><a class="fa fa-image" href="{% url 'pageTestImage' id=project.id %}"> Upload a picture</a></p>
                {% endif %}
                <div class="border-top border-bottom">
                    Creator : <a href="{% url 'userId' id=project.idCreateur.id %}">{{ project.idCreateur }}</a></br>
                    Description : {{ project.description }}</br>
                    Budget needed : {{ project.budgetActuel }}</br>
                    Budget targeted : {{ project.budgetCible }}</br>
                    Difficulty : {{ project.difficulte }}</br>
                    Post on : {{ project.datePublication }}</br>
                </div>
                <div>
                    <h5 >Notation</h5>
                    {% if moyenne is not None  %}
                    <p>budget : {{ avg_noteBudget }}/10</br> faisabilité : {{ avg_noteFaisabilite }}/10</br> utilité : {{ avg_noteUtilite }}/10 </p>
                    <p>moyenne globale : {{ moyenne }}/10 </p>
                    {% else %}
                        <p class="text-warning">this project has not been evaluated yet</p>
                    {% endif %}
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col">
                {% if user.is_authenticated %}
                    <h4 class="text-center text-danger">DONATE</h4>
                    <div class="row">
                        <div class="col text-center"><p><a href="{% url 'donate' id=project.id contribution=10  %}">10</a></p></div>
                        <div class="col text-center"><p><a href="{% url 'donate' id=project.id contribution=25 %}">25</a></p></div>
                        <div class="col text-center"><p><a href="{% url 'donate' id=project.id contribution=50 %}">50</a></p></div>
                    </div>
                {% endif %}
                <h4 class="text-center mb-3">Contributors</h4>
                <ul class="list-group" style="overflow: auto;height: 230px">
                    {% for values in contributions %}
                    <li class="list-group-item overflow-auto">
                        <a href="{% url 'userId' id=values.id %}">{{ values.nom }}</a> - donation : {{ values.contribution }}
                    </li>
                    {% empty %}
                        <li class="list-group-item">No contributors</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <!-- Si l'utilisateur est connecté -->
            {% if user.is_authenticated %}
                <!-- Si l'utilisateur est un expert -->
                {% if user.isExpert  %}
                    <!-- Si l'expert a suffisament de karma pour evaluer ce projet -->
                    {% if user.karma >= project.difficulte|mul:100 %}
                        <!-- Si cet expert n'as pas encore évalué le projet -->
                        {% if not hasEvaluated %}
                            <div class="col mt-3">
                                <h1 class="text-center"> Evaluate project</h1>

                                <form method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    {{ form|crispy  }}
                                    <button type="submit" class="form-button btn btn-success">Submit</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="col mt-4"><h5 class="text-center text-warning">You have already evaluated this project</h5></div>
                        {% endif %}
                    {% else %}
                        <div class="col mt-4"><h5 class="text-center text-danger">Not enough karma to evaluate this project</h5></div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>



<!-- footer row -->
<footer>
    <div class="container pt-5 border-bottom">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3 text-center">
                <h5 class="mb-4 font-weight-bold text-uppercase"><a href="{% url 'accueil' %}">Home</a></h5>
            </div>
            <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left text-center">
                <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="{% url 'contact' %}"></i>Contact us </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left text-center">
                <h5 class="mb-4 font-weight-bold text-uppercase">Connect</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://github.com/KylianViaux/SiteDjangoGreen" target="_blank"><i class="fa fa-github mr-1"></i> Github</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left text-center">
                <h5 class="mb-4 font-weight-bold text-uppercase">Privacy & terms</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="{% url 'mentionsLegales' %}">Legal mentions</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="py-4 d-flex justify-content-center align-items-center">
                <p class="mr-4 fa fa-copyright" > Designed by | Viaux Kylian - Marignale Ian</p>
            </div>
        </div>
    </div>
    </div>
</footer>
<!-- //footer row -->

</html>
